<nav class="nav navbar-dark bg-primary">
  <a href="" class="navbar-brand">
    <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    Ejemplo de Funcionamiento de Two-Way-Data-Binding
  </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4">
      <img src="../assets/img/logotec.jpg" alt="Logo del Tec de Monterrey" class="logotec img-fluid">
    </div>
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li *ngFor="let al of alumnosArray" (click)="openForEdit(al)" class="list-group-item list-group-item-action"
        [class.active]="al==seleAlumno">
          <span class="badge bg-info">{{al.id}}
          </span> {{al.nombre}} -> {{al.grado}}° Grado - {{al.edad}} Años
        </li>
        @for(al of alumnosArray; track al.id){
        <li (click)="openForEdit(al)" class="list-group-item list-group-item-action" [class.active]="al==seleAlumno">
          <span class="badge bg-info">{{al.id}}
          </span> {{al.nombre}} -> {{al.grado}}° Grado - {{al.edad}} Años
        </li>
        }@empty {
        La lista está vacia
        }
      </ul>
      <div class="col-md-12">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Grado</th>
              <th scope="col">Grupo</th>
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let al of alumnosArray" (click)="openForEdit(al)" [class.active]="al==seleAlumno">
              <td>{{al.id}}</td>
              <td>{{al.nombre}}</td>
              <td>{{al.grado}}</td>
              <td>{{al.edad}}</td>
            </tr>
          </tbody>
        </table>
        <div class="card">
          <div class="card-body">
            <div class="card-title">Ingresa los datos del alumno</div>
            <div class="form-group mb-3">
              <input [(ngModel)]="seleAlumno.nombre" type="text" class="form-control"
                placeholder="Ingresa el nombre del alumno">
            </div>
            <div class="form-group mb-3">
              <input [(ngModel)]="seleAlumno.grado" type="text" class="form-control"
                placeholder="Ingresa el grado del alumno">
            </div>
            <div class="form-group mb-3">
              <input [(ngModel)]="seleAlumno.edad" type="number" class="form-control"
                placeholder="Ingresa la edad del alumno">
            </div>
            <!-- @if (seleAlumno.id===0) {
            <button (click)="addOrEdit()" class="btn btn-primary">Agregar</button>
            } @else {
            <button (click)="addOrEdit()" class="btn btn-warning">Modificar</button>
            <button (click)="delete()" class="btn btn-danger ms-3">Eliminar</button>} -->
            <button *ngIf="seleAlumno.id===0" (click)="addOrEdit()" class="btn btn-primary">Agregar</button>
            <button *ngIf="seleAlumno.id!==0" (click)="addOrEdit()" class="btn btn-warning">Modificar</button>
            <button *ngIf="seleAlumno.id!==0" (click)="delete()" class="btn btn-danger ms-3">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>